body {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  background-color: #013356;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

.italic {
  font-style: italic;
}

.bold {
  font-style: normal;
  font-weight: 800;
}

#top-background-fix {
  height: 460px;
  background-color: #0A86BC;
  border-top: 2px solid #fff;
  background-repeat: no-repeat;
  background-image: url("../images/topbanner.png");
  background-position: center top;
}
#wrapper-1400 {
  width: 1400px;
  margin: 0px auto -660px;
  position: relative;
  top: -460px;
}

#wrapper-960 {
  width: 940px;
  margin: 0px auto;
  padding: 0px 10px;
}

#title {
  padding-top: 100px;
  text-align: center;
}

#title h1 {
  font-size: 65px;
  margin: 0;
  font-weight: 300;
}

#title h3 {
  font-size: 36px;
  margin: 0;
  font-weight: 300;
}

#title h3 span {
  font-weight: 700;
  font-style: normal;
}

#intro {
  margin: 0px auto;
  width: 890px;
}

#intro p {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

#video {
  padding-top: 90px;
  z-index: 1;
  text-align: center;
}

#tail {
  left: 2px;
  position: absolute;
  top: 460px;
  z-index: -1;
}

#logo {
  position: relative;
  right: -457px;
  top: -478px;
  z-index: 3;
}

#video iframe {
  border-radius: 6px;
  border: 4px solid #0A86BC;
  margin-top: -4px;
}

#share {
  position: relative;
  text-align: center;
  z-index: 4;
  margin-top: -250px;
}

#share-this {
  display: none;
}

#toggle {
  cursor: pointer;
}

#get-involved {
  margin: 0 auto;
  position: relative;
  top: 90px;
  width: 850px;
  z-index: 2;
}

#get-involved-text {
  font-weight: 300;
  text-align: center;
  font-size: 55px;
  margin-bottom: 15px;
}

.get-involved-list-header {
  font-size: 24px;
  line-height: 40px;
}

.normal-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.normal-list a {
  color: #FFFFFF;
}

.list, #get-involved i {
  display: inline-block;
}

.list {
  width: 710px;
}

#get-involved i {
  color: #0A86BC;
  width: 135px;
  position: relative;
}

.fa-picture-o {
  top: -95px;
}

.fa-camera {
  top: -180px;
}

.fa-bus {
  top: -70px;
}

#colophon .col {
  float: left;
  margin: 0 10px;
  width: 300px;
}

#colophon .row {
  margin: 0 auto;
  width: 960px;
}

#colophon h1 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #fff;
  font-family: "Open Sans Light", X-LocaleSpecific-Light, "Open Sans", X-LocaleSpecific, sans-serif;
  font-weight: normal;
  text-shadow: none;
  letter-spacing: -2px;
  display: block;
  line-height: 100%;
}

#colophon .logo a {
  background-image: url("../images/footer-mozilla-white.png");
  display: block;
  height: 24px;
  overflow: hidden;
  text-indent: 120%;
  white-space: nowrap;
  width: 88px;
}

#colophon {
  color: #99a0a6;
}

#colophon .col > *:last-child {
  margin-bottom: 0;
}
#colophon p, #colophon ul {
  line-height: 1.5;
  margin-bottom: 10px;
}
#colophon .col-2 ul {
  overflow: hidden;
}

#colophon .col-2 ul li {
  float: left;
}
#colophon li {
  list-style-type: none;
  margin: 0;
}
#colophon .col-2 ul li.wrap::before {
  content: "|";
}
#colophon .col-2 ul li.clear {
  clear: both;
}
#colophon .links-social li ul {
  display: inline;
  margin: 0;
}
#colophon .links-social li li {
  display: inline;
}
#colophon .links-social li li::before {
  content: "|";
}
#colophon .links-social li li:first-child::before {
  content: "";
}
#colophon .links-social li li span {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

.links-social ul {
  padding-left: 15px;
}
footer {
  background-color: #001b30;
  font-family: "Open Sans";
  font-size: 13px;
  height: 150px;
  padding-top: 20px;
  position: relative;
  top: 300px;
}

footer a, footer a:hover {
  color: #0878a8;
  text-decoration: none;
}